language: php
php:
  - '7.2'
  - '7.3'
  - '7.4'

services:
  - mysql

install:
  - composer install --prefer-dist --no-interaction
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:schema:update --force --env=test
  - php bin/console doctrine:fixtures:load -n --env=test

cache:
  - paths:
    - vendor/

stages:
  - SecurityChecker
  - CodingStandards
  - Tests

security-checker:
  stage: SecurityChecker
  script:
    - security-checker security:check composer.lock
  allow_failure: false

phpcs:
  stage: CodingStandards
  script:
    - phpcs -V --standard=PSR12 --ignore=.src/Kernel.php ./src
  allow_failure: false

phpstan:
  stage: CodingStandards
  script:
    - phpstan analyse ./src
  allow_failure: false

twig-lint:
  stage: CodingStandards
  script:
    - twig-lint lint ./templates
  allow_failure: false

phpunit:
  stage: Tests
  script:
   - php bin/phpunit
  allow_failure: false
