body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: poppins, sans-serif;
    background: whitesmoke;
}

.center {
    width: 430px;
    margin: 100px auto;
    position: relative;
}

.center .header {
    font-size: 28px;
    color: white;
    padding: 10px 0 30px 25px;
    background: #0A183D;
    border-bottom: 1px solid #370e3f;
    border-radius: 5px 5px 0 0;    
    text-align: center;
}

.center form {
    position: absolute;
    background: white;
    width: 100%;
    padding: 50px 10px 0 30px;
    box-sizing: border-box;
    border: 1px solid #c8b4cc;
    border-radius: 0 0 5px 5px;
}

form input {
    height: 40px;
    width: 90%;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid silver;
    outline: none;
    margin-bottom: 20px;
}

form input[type="password"] {
    margin-top: 0px;    
}

form i {
    position: absolute;
    font-size: 25px;
    color: gray;
    margin: 15px 0 0 -45px;
}

i.fa-eye, .fa-envelope{
    margin-top: 10px;
}

form input[type="submit"]{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 45px;
    color: white;
    cursor: pointer;
    background: #0A183D;
    line-height: 45px;
}

form .pass-forgot{
   margin: 10px 0 10px 100px;
}

form a{
   text-decoration: none;
   font-size: 18px;
   color: #0A183D;
}

form input[type="submit"]:hover{
    background: #e6dfeb;
    transition: 0.5s;
}